<header class="bg-white shadow">
  <div class="container mx-auto flex justify-between items-center h-16 px-4">
    
    <!-- Logo -->
    <div class="flex items-center">
      <a href="/" class="block">
        <img src="/img/logo.png" alt="MKI Expertisecentrum logo" class="h-10 w-auto max-h-12">
      </a>
    </div>
    
    <!-- Navigatie -->
    <nav>
      <ul class="flex space-x-6 list-none text-sm font-medium text-gray-700">
        <li><a href="/" class="hover:text-blue-600">Home</a></li>
        <li><a href="/opdrachtgevers/" class="hover:text-blue-600">Opdrachtgevers</a></li>
        <li><a href="/opdrachtnemers/" class="hover:text-blue-600">Opdrachtnemers</a></li>
        <li><a href="/leveranciers/" class="hover:text-blue-600">Leveranciers</a></li>
        <li><a href="/downloads/" class="hover:text-blue-600">Downloads</a></li>
        <li><a href="/discussie/" class="hover:text-blue-600">Discussie</a></li>
        <li><a href="/blog/" class="hover:text-blue-600">Blog</a></li>
        <li><a href="/nieuwsbrief/" class="hover:text-blue-600">Nieuwsbrief</a></li>
      </ul>
    </nav>

  </div>
</header>
