<header>
  <div class="container" style="display:flex;justify-content:space-between;align-items:center;height:4rem;">
    <div class="text-xl font-bold"><a href="/">MKI Expertisecentrum</a></div>
    <nav>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/opdrachtgevers/">Opdrachtgevers</a></li>
        <li><a href="/opdrachtnemers/">Opdrachtnemers</a></li>
        <li><a href="/leveranciers/">Leveranciers</a></li>
        <li><a href="/downloads/">Downloads</a></li>
        <li><a href="/discussie/">Discussie</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/nieuwsbrief/">Nieuwsbrief</a></li>
      </ul>
    </nav>
  </div>
</header>
